@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$font-family-sans-serif: "Roboto", "Arial", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.14; // 16px / 14px
$body-color: #505050;
$body-bg: #f1f1f1;

$box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

.gap-custom {
  gap: 32px;
}

.aside-width {
  width: 264px;
}

@import "blocks/header";

@import "node_modules/bootstrap/scss/bootstrap";
