.post__top {
  padding: 16px 32px;
  font-size: 16px;
  line-height: 19px;
}

.post__wrapper {
  min-width: 1080px;
  display: flex;
  flex-direction: column;
  padding: 0 32px 32px;

  &--close {
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
  }
}

.post__time {
  position: relative;


  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -32px;
    width: 24px;
    height: 24px;
    background: url("../../img/icons/time-check.svg") no-repeat;
  }
}

.post__image {
  max-height: 424px;
  object-fit: cover;
}
